@model Noticias
@{
    ViewData["Title"] = "Noticias";
}

<form action="@Url.Action("Cadastrar")" method="post" enctype="multipart/form-data">

    <label for="IdNoticias">IdNoticias</label>
    <input type="text" name="IdNoticias" id="IdNoticias">

    <label for="Titulo">Titulo</label>
    <input type="text" name="Titulo" id="Titulo">

    <label for="Texto">Texto</label>
    <input type="text" name="Texto" id="Texto">

    <label for="Imagem">Imagem</label>
    <input type="file" name="Imagem" id="Imagem">

    <button type="submit">Cadastrar</button>

</form>

<table class="table table-responsive table-striped">
    <thead>
        <th>Id</th>
        <th>Titulo</th>
        <th>Texto</th>
        <th>Imagem</th>
    </thead>
    <tbody>
        @foreach (var item in  ViewBag.Noticias){
            <tr>
                <td>@item.IdNoticias</td>
                <td>@item.Titulo</td>
                <td>@item.Texto</td>
                <td>
                    <img src="img/Noticias/@item.Imagem" alt="Imagens da noticia @item.Titulo">
                </td>
                <td>
                    <a class="nav-link text-dark" asp-area="" asp-controller="Noticias" asp-action="Excluir" asp-route-id="@item.IdNoticias">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>